:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
}

button {
  cursor: pointer;
}

/* Http colors light */
.http-get.light-theme {
  color: rgb(53, 145, 195);
}

.http-post.light-theme {
  color: rgb(188, 57, 118);
}

/* Http colors dark */
.http-get.dark-theme {
  color: rgb(69, 184, 255);
}

.http-post.dark-theme {
  color: rgb(250, 60, 127);
}

/* Json pretty light */
.json-pretty-wrapper.light-theme .__json-pretty__ {
  line-height: 1.3;
  color: rgb(28, 28, 28);
  overflow: auto;
  padding-left: .5rem;
  font-size: .8rem;
}

.json-pretty-wrapper.light-theme .__json-key__ {
  color: rgb(235, 114, 77);
}

.json-pretty-wrapper.light-theme .__json-value__ {
  color: rgb(144, 131, 225);
}

.json-pretty-wrapper.light-theme .__json-string__ {
  color: rgb(44, 126, 126);
}

.json-pretty-wrapper.light-theme .__json-boolean__ {
  color: rgba(102, 153, 204, 1);
}

.json-pretty-wrapper.light-theme .__json-pretty-error__ {
  line-height: 1.3;
  color: rgba(248, 248, 242, 1);
  background: #1e1e1e;
  overflow: auto;
}

/* Json pretty dark */
.json-pretty-wrapper.dark-theme .__json-pretty__ {
  line-height: 1.3;
  color: rgba(248, 248, 242, 1);
  overflow: auto;
  padding-left: .5rem;
  font-size: .8rem;
}

.json-pretty-wrapper.dark-theme .__json-key__ {
  color: rgba(255, 94, 94, 1);
}

.json-pretty-wrapper.dark-theme .__json-value__ {
  color: rgba(253, 176, 130, 1);
}

.json-pretty-wrapper.dark-theme .__json-string__ {
  color: rgba(233, 253, 172, 1);
}

.json-pretty-wrapper.dark-theme .__json-boolean__ {
  color: rgba(102, 153, 204, 1);
}

.json-pretty-wrapper.dark-theme .__json-pretty-error__ {
  line-height: 1.3;
  color: rgba(248, 248, 242, 1);
  background: #1e1e1e;
  overflow: auto;
}