:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
}

button {
  cursor: pointer;
}

.__json-pretty__ {
  line-height: 1.3;
  color: rgba(248, 248, 242, 1);
  overflow: auto;
  padding-left: .5rem;
  font-size: .8rem;
}

.__json-key__ {
  color: rgba(255, 94, 94, 1);
}

.__json-value__ {
  color: rgba(253, 176, 130, 1);
}


.__json-string__ {
  color: rgba(233, 253, 172, 1);
}

.__json-boolean__ {
  color: rgba(102, 153, 204, 1);
}

.__json-pretty-error__ {
  line-height: 1.3;
  color: rgba(248, 248, 242, 1);
  background: #1e1e1e;
  overflow: auto;
}